.header__lang-link {
  color: #fff;
  text-decoration: none;
  font-size: 24px;
  line-height: 1.2;
  margin-left: 18px;
}

.header__lang-link a.active {
  text-decoration: underline;
}

@media screen and (max-width: 320px) {
  .header__lang-link {
    font-size: 18px;
  }
}
