.place__paragraph {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  /* ура, я разобрался! ) */
  line-height: 1.63;
  margin: 0;
  padding-bottom: 24px;
}

@media screen and (max-width: 768px) {
  .place__paragraph {
    font-size: 16px;
  }
}

@media screen and (max-width: 320px) {
  .place__paragraph {
    width: calc(100% - 32px);
    margin: 0 auto;
  }

  .place__paragraph:last-child {
    padding-bottom: 0;
  }
}
