.footer__copyright {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.14;
  margin: 0;
}

/* применяем padding-top: 16px раньше, чем по макету,
т. к. элемент __copyright не помещается в одной строке с элементом __link */

@media screen and (max-width: 720px) {
  .footer__copyright {
    padding-top: 16px;
  }
}

/*
@media screen and (max-width: 320px) {
  .footer__copyright {
    padding-top: 16px;
  }
}
*/
