.footer {
  display: flex;
  justify-content: space-between;
  padding-top: 92px;
}

@media screen and (max-width: 810px) {
  .footer {
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    padding-top: 88px;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    padding-top: 64px;
  }
}

